{% extends 'polls/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}

{% load staticfiles %}

{% block header %}
<header>
    <div class="container_header">
        <nav class="navbar navbar-inverse navbar-top">
            <div class="container-fluid">
                <div id="navbarHeader" class="navbar-collapse collapse">
                    <form action="deconnexion" method="post">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="navbar-text">
                                    <span class="glyphicon glyphicon-user"></span> {% block title %}> Bonjour {% if user and not user.is_anonymous %} {{ user.username }} {% else %} visiteur {% endif %} {% endblock %}
                                </div>
                            </li>
                            <li id=page_editerProfil">
                                <a href="{% url 'editerProfil' %}"><span class="glyphicon glyphicon-wrench"></span> Editer le profil</a>
                            </li>
                            <li>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-red-barre navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock header %}
