{% extends "../Base.html" %}
<link rel="stylesheet" href="/static/formulaire.css" />
{% block title %}Accueil{% endblock %}

{% block content %}

    <body>
    	<center>
			<section >
				<form  class="accueil" method="get" >
						<legend> Bienvenue</legend>
						<p>
                        Vous êtes sur l'accueil des énigmes basiques.
    					</p> 
    					{% if user.is_authenticated %}
                            Vous êtes connecté : {{ user.username }}
                            <br/>
                            Votre Niveau : {{user.joueur.level}}
                            <br/>
                            <a href="/deconnexion"> Déconnexion</a>

                        {%else%}
                        <p> Connectez-vous ou créez un compte et nous verrons si vous êtes capable 
                        de toutes les résoudre!!!! </p>
                        <br/>
                            <li><a href="/connexion">Connexion</a></li>
                        {%endif%}
    					<br/>
						<br/>
				</section>   
				</form>
			</section>
		<center>
    </body>

{% endblock %}

