{% extends "Base.html" %}

{% block title %}connexion{% endblock %}

{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static '../../static/style.css' %}" />
        <title>Enigmes - connexion </title>
    </head>
    <div id="header"></div> 
    <body>
    	<center>
			<section >
				<form  class="connexion" method="post"  >
				<legend> Se connecter </legend>
				{{ form.as_p }}
				{% csrf_token %}
					<fieldset>
							<br/>
							<br/>
							<div class="centrage">
								<input class="buttonConnexion" type="submit" value="Se connecter" />
							</div>
							<br/>
							 <br/>
							<br/>
							Vous voulez jouer mais vous n'êtes pas encore inscrit ? Cliquez :
							<a id ="inscription" href="inscription.html">   ICI </a> 
					</fieldset>
				</section>   
				</form>
			</section>
		<center>
    </body>
{% endblock %}