{% extends "Base.html" %}

{% block title %}je suis la date{% endblock %}

{% block content %}
<form method="post" action="formulaire.html">

   <p>
       <label for="pseudo">Votre pseudo :</label>
       <input type="text" name="pseudo" placeholder="Utilisateur" id="pseudo" autofocus required/>  
       <label for="pass">Votre mot de passe :</label>
       <input type="password" name="pass" placeholder="Mot de passe" id="pass" required/>
       <input type="submit" value="login" />
   </p>

</form>
{% endblock %}