{% extends "Base.html" %}

{% block title %}je suis la date{% endblock %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static '../../static/style.css' %}" />
        <title>Enigmes - Inscription</title>
    </head>
    <div id="header"></div> 
    <header>
    </header>
    <body>
        <center>
            <section >
                <form  class="inscriptionss" method="post" >
                {% csrf_token %}
                    <fieldset>
                        <legend> S'inscrire </legend>
                            <label for="pseudo">Votre pseudo :</label>
                            <input type="text" name="pseudo" placeholder="Utilisateur" id="pseudo" autofocus required/> 
                            <br/>
                            <label> Email :</label>
                            <input type="text" name="EMAIL" placeholder="exemple@mail.com" required/>
                            <br/>
                            <label for="prenom">Mot de passe :</label>
                            <input type="password" name="Mot de passe"  placeholder="********" required />
                            <br/>
                            <label for="prenom">Confirmation :</label>
                            <input type="password" name="PASSWORD_CONFIRM"  placeholder="********" required />
                            <br/>
                            <br/>
                            <br/>
                            <div class="centrage">
                                <input class="buttonInscription" type="submit" name="INSCRIPTION" value="Inscription"/>
                            </div>
                            <br/>
                            <br/>
                            Vous êtes déjà inscrit ? Cliquez :
                            <a id ="connexion" href="connexion.html">   ICI </a> 
                    </fieldset>
                </section>   
                </form>
            </section>
        <center>
    </body>
</html>

{% endblock %}