{% extends "Base.html" %}

{% block title %}je suis la date{% endblock %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static '../../static/style.css' %}" />
        <title>Enigmes - Inscription</title>
    </head>
    <div id="header"></div> 
    <header>
    </header>
    <body>
        <section>
            <h2>Inscription</h2>
            <form action="inscription.html" method="post" class="inscription">
                <label> Pseudo :<input class="inputInscription" type="text" name="NAME" autofocus required/></label><br/>
                <label> Email :<input class="inputInscription" type="text" name="EMAIL" required/></label><br/>
                <label> Mot de passe :<input class="inputInscription" type="password" name="PASSWORD" required/></label><br/>
                <label> Confirmation :<input class="inputInscription" type="password" name="PASSWORD_CONFIRM" required/></label><br/>
                <div class="centrage">
                    <input class="buttonInscription" type="submit" name="INSCRIPTION" value="Inscription"/>
                </div>
                <br/>
                Vous êtes déjà inscrit ? Cliquez :
                <a id ="connexion" href="connexion.html">   ICI </a> 
            </form>
        </section>
    </body>
</html>

{% endblock %}