{% extends "Base.html" %}

{% block title %}je suis une question{% endblock %}

{% block content %}


    <body>
    	<center>
			<section >
				<form  class="connexion" method="post"  >
				{{ form.as_p }}
				{% csrf_token %}
					<fieldset>
						<p>  Votre Niveau : {{user.joueur.level}}</p>
						<legend>  Devinette n° {{question.numero}}</legend>
						<h2> {{ question.question }} </h2>
						<label for="pseudo">Votre réponse :</label>
                    	<input type="text" name="reponse" autofocus required/> 
                        <br/>
                        <br/>
                        <div class="centrage">
                            <input class="buttonInscription" type="submit" name="Valider" value="Valider"/>
                        </div>      
                        <br/>
                        <br/>
                        <p> Pour le moment, pour accéder à la   
                        <a href="http://127.0.0.1:8000/devinette/1"> question 1</a>
                        || <a href="http://127.0.0.1:8000/devinette/2"> question 2</a>
                        || <a href="http://127.0.0.1:8000/devinette/3"> question 3</a>
                        || <a href="http://127.0.0.1:8000/devinette/4"> question 4</a>
                        || <a href="http://127.0.0.1:8000/devinette/5"> question 5</a>
                        || <a href="http://127.0.0.1:8000/devinette/6"> question 6</a>
                        || <a href="http://127.0.0.1:8000/devinette/7"> question 7</a>
                        || <a href="http://127.0.0.1:8000/devinette/8"> question 8</a>
                        || <a href="http://127.0.0.1:8000/devinette/9"> question 9</a>
                        || <a href="http://127.0.0.1:8000/devinette/10"> question 10</a> </p>
                        <p>  La vérification n'est pas encore fonctionnelle ! </p>   
                </fieldset>
					</fieldset>
				</section>   
				</form>
			</section>
		<center>
    </body>

    

{% endblock %}

