{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
    <body>
    <head>
        <meta charset="utf-8">
        <title>Viens Résoudre Nos Enigmes</title>
    </head>

    {% block header %}
    {% endblock header %}

    <div class="container_principal">
    {% block content %}
    {% endblock content %}
    </div>

    <footer>
        <div class="row container_footer">
            <div class="col-md-8 footer_text">
                © 2017 Viens Résoudre Nos Enigmes ! by APN & EC & MR
            </div>
            <div class="col-sm-offset-1 col-md-3">
                <a href="https://facebook.com/XXXX"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                <a href="https://twitter.com/XXXX"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
                <a href="https://plus.google.com/"><i class="fa fa-google-plus fa-2x fa-fw"></i></a>
                <a href="https://github.com/XXXX"><i class="fa fa-github fa-2x fa-fw"></i></a>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'css/bar.js' %}"></script>
    <script src="{% static 'css/menusortie.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
