{% extends 'socialnetwork/baseDeco.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="container_index">
    <div class="cote_gauche col-sm-5">
        Pour résoudre des casses têtes de plus en plus difficils.
    </div>

    <div class="container col-sm-offset-1 col-sm-5">
        <div class="omb_login">
            <h3 class="omb_authTitle">Connexion via</h3>
            <div class="row omb_socialButtons">
                <div class="col-xs-4 col-sm-4">
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        {{ form.as_p }}
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        {{ form.as_p }}
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>  
                <div class="col-xs-4 col-sm-4">
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        {{ form.as_p }}
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>  
            </div>

            <div class="row omb_loginOr">
                <div class="col-sm-offset-2 col-sm-8">
                    <hr class="omb_hrOr">
                    <h3 class="omb_authTitle">OU inscription</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">    
                    <form class="omb_loginForm" action="inscription" autocomplete="off" method="POST">
                        {% csrf_token %}
                        {% bootstrap_field formRegister.username placeholder='Pseudo' addon_before='<span class="glyphicon glyphicon-user"></span>' addon_before_class='input-group-addon success' show_label=False %}

                        {% bootstrap_field formRegister.email placeholder='Adresse email' addon_before='<span class="glyphicon glyphicon-envelope"></span>' addon_before_class='input-group-addon success' show_label=False %}

                        {% bootstrap_field formLogin.password placeholder='Mot de passe' addon_before='<span class="glyphicon glyphicon-lock"></span>' addon_before_class='input-group-addon success' show_label=False %}
                        
                        {% bootstrap_button "Inscription" button_type="submit" button_class="btn btn-lg btn-green-inscription col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-8" %}
                    </form>
                </div>
            </div> 
        </div>         
    </div>
</div>
{% endblock content %}
